.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 2rem;
  padding: 1.5rem;

  border-radius: 0.75rem;

  background: var(--black);
}

.stats-container button {
	all: unset;
	cursor: pointer;

  background: var(--crimson);
	color: var(--white);

	border-radius: 0.75rem;
	box-shadow: none;

	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	font-weight: bold;

	text-decoration: none;

	display: flex;
	align-items: center;
}

.stats-container svg {
	width: 1.5rem;
	height: 1.5rem;
}
