.typing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  padding: 0rem 3rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
	.typing-container {
		padding: 0rem;
		word-break: break-word;
	}
}

header {
  margin: 0 auto;
  padding: 2.5rem 1.25rem;

  text-align: center;
}

header h1 {
  font-size: 3.5rem;
  font-weight: bold;

  margin-bottom: 1.5rem;

  color: var(--crimson);

  text-transform: capitalize;
}

header span {
  color: var(--crimson);
}
